@import url(__meals/card__meals.css);
@import url(__meal/card__meal.css);
@import url(__meal/_breakfast/card__meal_breakfast.css);
@import url(__meal/_dinner/card__meal_dinner.css);
@import url(__meal/_supper/card__meal_supper.css);

.cards {
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  grid-row-gap: 72px;
  grid-column-gap: 37px;
  justify-content: center;
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 300px);
    ;
  }
}