@import url(__number/pages-list__number.css);
@import url(__number/_active/pages-list__number_active.css);

.pages-list {
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 66px;
  padding-bottom: 80px;
  margin: 0 auto;
}