.subscribe__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 519px;
  border: 1px solid #EEE;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 23px;
  margin-bottom: 39px;
}

@media screen and (max-width: 850px) {
  .subscribe__card {
    min-height: 519px;
    height: fit-content;
  }  
}