@import url('./_hidden/select_hidden.css');
@import url('./__item/select__item.css');

.select {
  margin: 0;
  list-style-type: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  z-index: 999;
  background: #FFFFFF;
  width: 214px;
  border: 1px solid rgba(98, 98, 98, 0.2);
  padding-left: 0;
}