.meals__supper {
  position: relative;
  margin-left: 56px;
}

.meals__supper::before {
  content: url('./../../../images/supper.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  right: 53px;
  top: -18%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 400px) {
  .meals__supper::before {
    right: 35px;
  }