.add-button_active {
  height: 48px;
  border-radius: 6px;
  background: #ffffff url('./../../../images/tick.svg') no-repeat left;
  background-position-x: 10%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4A61DD;
  border: 1px solid #DEE2F2;
}