.add-button {
  height: 48px;
  border-radius: 6px;
  background-image: url('./../../images/add.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.add-button:hover {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-image: url('./../../images/hover.jpg');
}