.button_subscribe {
  background: #f0f3ff;
  color: #4a61dd;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  width: 100%;
  margin-top: 28px;
}

.button_subscribe:hover {
  background: #D8DEFF;
}