.list__item {
  display: flex;
  flex-direction: row;
  padding: 17px 0;
  border-bottom: 1px solid #EEE;
  width: 52%;
}

@media screen and (max-width: 1200px) {
  .list__item {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .list__item {
    flex-direction: column;
    justify-content: center;
  }
}