.list__info {
  width: 300px;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 65px;
}

@media screen and (max-width: 650px) {
  .list__info {
    height: fit-content;
    margin-left: 20px;
    margin-right: 30px;
  }
}
