@import url(__title/content__title.css);
@import url(__meals/content__meals.css);

.content {
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }
}