@import url('./_make/input-header_make.css');
@import url('./_password/input-header_password.css');

.input-header {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-right: 22px;
  margin: 0;
}