@import url('./_active/header__link_active.css');

.header__link {
    margin-right: 28px;
}
.header__link:last-child {
    margin-right: 0;
}

.header__link:hover {
    color: #4A61DD;
    border-bottom: 2px solid #4A61DD;
    cursor: pointer;
}