.password__error {
  width: 370px;
  margin-left: 252px;
}

.password__error:first-child {
  margin-top: 5px;
}

@media (max-width: 1321px) {
  .password__error {
    margin-left: 0;
    width: 61%;
    margin-left: 41%;
  }
}