.make__input-container {
  width: 370px;
  display: flex;
  justify-content: space-between;
  margin-right: 166px;
}

.make__input-container:last-of-type {
  justify-content: start;
  margin-left: 104px;
}