.form__pseudo-item_dinner {
  border: 1px solid #49B64E;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.form__pseudo-item_dinner:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}