@import url(__logo/author__logo.css);
@import url(__info/author__info.css);

.author {
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  margin-left: 21px;
}