.button_subscribe-author_active {
  background-image: url('./../../../../images/отписаться.jpg');
  height: 48px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.button_subscribe-author_active:hover {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
  background-image: url('./../../../../images/3-layers.jpg')
}