.password__subject {
    margin: 60px auto 21px 68px;
    padding: 0;
    width: 100%;
}

@media (max-width: 1321px) {
    .password__subject {
        width: 80%;
        margin: 60px auto 50px;

    }
}