@import url('__breakfast/meals__breakfast.css');
@import url('__dinner/meals__dinner.css');
@import url('__supper/meals__supper.css');

.meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .meals {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .meals {
    font-size: 10px;
    margin-top: 20px;
  }
}