@import url(__breakfast/meals__breakfast.css);
@import url(__dinner/meals__dinner.css);
@import url(__supper/meals__supper.css);

.meals {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}