.buttons__add-button_active {
  background-image: url(./../../../../images/dobavlen.jpg);
    height: 48px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border: none;
    width: 224px;
}