.tooltip_type_recipe {
  background-image: url(./../../../images/star2.svg);
  width: 36px;
  height: 36px;
  margin-right: 0;
  margin-top: 5px;
}

@media (max-width: 500px) {
  .tooltip_type_recipe {
    margin-left: 80%;
  }
}