@import url('./__info/recipe__info.css');
@import url('./__img/recipe__img.css');
@import url('./__info/recipe__info.css');
@import url('./__buttons/recipe__buttons.css');
@import url('./__ingredients/recipe__ingredients.css');
@import url('./__ingredient/recipe__infredient.css');
@import url('./__text/recipe__text.css');
@import url('./__box/recipe__box.css');

.recipe {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: 'img info';
}

@media (max-width: 860px) {
  .recipe {
    display: flex;
    flex-direction: column;
  }
}