.meals__dinner {
  position: relative;
  margin-left: 56px;
}

.meals__dinner::before {
  content: url(./../../../images/dinner.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 53px;
  top: -18%;
  top: 50%;
  transform: translateY(-50%);
}