.enter__button-box {
  display: flex;
  justify-content: space-between;
  width: 36%;
  margin: 20px auto auto 260px;
}

@media (max-width: 1374px) {
  .enter__button-box {
    width: 50%;
    flex-direction: column;
    margin: auto auto 25px;
  }
}