.meals__breakfast {
  position: relative;
}

.meals__breakfast::before {
  content: url(./../../../images/breakfast.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 76px;
  top: -18%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 400px) {
  .meals__breakfast::before {
    right: 50px;
  }
}