@import url('./_subscribe/button_subscribe.css');
@import url('./_registration/button_registration.css');

.button {
  min-height: 48px;
  border-radius: 6px;
  text-decoration: none; 
  border: none;
}