@import url('./_add-recipe/button_add-recipe.css');
@import url('./_registration/button_registration.css');
@import url('./_subscribe-author/button_subscribe-author.css');
@import url('./_subscribe-author/_active/button_subscribe-author_active.css');
@import url('./_password/button_password.css');
@import url('./_list/button_list.css');
@import url('./_download/button_download.css');

.button {
  min-height: 48px;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

.button:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}