@import url('./_subscribe/button_subscribe.css');
@import url('./_add-recipe/button_add-recipe.css');
@import url('./_registration/button_registration.css');
@import url('./_subscribe-author/button_subscribe-author.css');
@import url('./_list/button_list.css');


.button {
  min-height: 48px;
  border-radius: 6px;
  text-decoration: none; 
  border: none;
}