@import url('_type/buttons_type_recipe.css');
@import url('__add-button/_shop/buttons__add-button_shop.css');
@import url('__add-button/_recipe/buttons__add-button_recipe.css');

.buttons {
  font-family: 'Montserrat',
    Arial,
    sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

