.button_download {
  width: 182px;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  margin-left: 50px;
}

@media (max-width: 1321px) {
  .button_download {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .button_download {
    width: 135px;
  }
}